<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Войти в панель администратора</h2>

    <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
        {{ error }}
    </div>

    <div class="alert alert-info" *ngIf="message">
        {{ message }}
    </div>


    <div 
        class="form-control"
        [ngClass]="{invalid: form.controls['email'].touched && form.controls['email'].invalid}"
    >
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email">
        <div
            *ngIf="form.controls['email'].touched && form.controls['email'].invalid"
            class="validation"
        >
        <small *ngIf="form.controls['email'].hasError('required')">
            Введите поле email
        </small>
        <small *ngIf="form.controls['email'].hasError('email')">
            Поле email должно быть email
        </small>
        </div>
    </div>

    <div 
        class="form-control"
        [ngClass]="{invalid: form.controls['password'].touched && form.controls['password'].invalid}"
    >
        <label for="password">Пароль:</label>
        <input id="password" type="password" formControlName="password">
        <div 
            class="validation"
            *ngIf="form.controls['password'].touched && form.controls['password'].invalid"
        >
        <small *ngIf="form.controls['password'].hasError('required')">
            Введите пароль
        </small>
        <small *ngIf="form.controls['password'].errors?.['minlength']">
            Пароль должен быть не менее 
            {{form.controls['password'].errors?.['minlength'].requiredLength}} 
            символов. Сейчас он 
            {{form.controls['password'].errors?.['minlength'].actualLength}} 
            символа.
        </small>
        </div>
    </div>

    <button
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid || submitted"
    >Войти</button>
</form>